<template>
<div>
<h1>CHECKBOX TYPE</h1>
<table>
<tr v-for="value in fields">
<td><label>{{value}}</label></td>
<td><input type="text" :id="value" :name="value"></td>
</tr>
</table>
<table>
<tr v-for="value in fields_int">
<td><label>{{value}}</label></td>
<td><input type="number" :id="value" :name="value"></td>
</tr>
</table>
<table>
<tr v-for="value in checkboxes">
<td><label>{{value.text}}</label></td>
<td><input type="checkbox" :id="value.text" name="check" v-model="value.checked"></td>

</tr>
<tr><td>Build hashmap</td><td><input type="checkbox" id="buildhashmap" @click="hash"></td></tr>
<tr><td>Number of options <p>{{optionsnumber}}</p></td><td><button @click="typevar">+</button></td></tr>
<tr><td><button type="button" @click="add">SUBMIT</button></td></tr>
</table>


<div v-for="(index,n) in optionarray">

<optionscheck :hashmapflag="hashmapflag" :ide="index" :checkedsection="checkedsection" :checkedview="checkedview"></optionscheck>
</div>

</div>
  
</template>

<script>
import optionscheck from "./options"
export default {
  props:['checkedsection','checkedview'],
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      fields:["name","section","title","titleSpanish","spanish_submited_value","submited_value","ans","des"],
      fields_int:["view_type","position","parent_id"],
       checkboxes:[{text:"isRequired",checked:false},
      {text:"is_submit_field",checked:false},
      {text:"is_active",checked:false}],
      flag:0,
      data:{},
      optionsnumber:0,
      optionarray:[],
      options:[],
      sendingdata:{},
      hashmapflag:0
      
    }
  },
  methods: {
    add(){
      for(var i=0;i<this.fields.length;i++)
      {
        var x=document.getElementById(this.fields[i]);
        this.data[this.fields[i]]=x.value;
        console.log(x.value);      
      }
      for(var i=0;i<this.fields_int.length;i++)
      {
        var x=document.getElementById(this.fields_int[i]);
        this.data[this.fields_int[i]]=parseInt(x.value);
        console.log(x.value);      
      }
      for(var i=0;i<this.checkboxes.length;i++)
      {
        var x=document.getElementById(this.checkboxes[i].text);
        this.data[this.checkboxes[i].text]= +(x.checked);
        console.log(x.checked);      
      }
       console.log(this.data);
       //this.senddata();

      for(var i=1;i<=this.optionarray.length;i++)
      {
        var newdata={};
        for(var j=0;j<this.fields.length;j++)
        {
          
          var ele=document.getElementById(this.fields[j]+i);
          newdata[this.fields[j]]=ele.value;
        }
        for(var j=0;j<this.fields_int.length - 1 ;j++)
        {
          
          var ele=document.getElementById(this.fields_int[j]+i);
          newdata[this.fields_int[j]]=ele.value;
        }
        for(var j=0;j<this.checkboxes.length;j++)
      {
        var ele=document.getElementById(this.checkboxes[j].text+i);
        newdata[this.checkboxes[j].text]= +(ele.checked);
        console.log(ele.checked);      
      }
      //console.log(newdata);
      this.options.push(newdata);
      //console.log(this.options);
      }
      this.sendingdata["questions"]=this.data;
      this.sendingdata["options"]=this.options;
      if(this.sendingdata["options"]!='')
      {
      console.log(this.sendingdata);
      this.senddata();
    }
    else
    {
      console.log(this.sendingdata);
      alert("add options to checkbox");
    }
    },
    senddata(){
      axios.post(`http://192.168.7.44:1351/add`, this.sendingdata)
    .then(response => { console.log(response.data);})
    .catch(e => {
      this.errors.push(e)
    })
    },
    option(){
      var addhere=document.getElementById("addhere");
      
      addhere.innerHTML= '<p><optionscheck/></p>';
      
      

    },
    typevar(){
      
      
        this.optionsnumber++;
        this.optionarray.push(this.optionsnumber);
     } ,
     hash()
     {
      this.hashmapflag=!this.hashmapflag;
      console.log(this.hashmapflag);
     }
  },
  components:{
    optionscheck
  },
  mounted()
  {
    document.getElementById("section").value= this.checkedsection;
    //console.log(this.checkedsection);
    switch(this.checkedview)
      {
        case "Header":this.sec=1;
        break;
        case "Input":this.sec=7;
        break;
        case "Checkbox":this.sec=4;
        break;
      }
    document.getElementById("view_type").value= this.sec;

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

</style>
