<template>
<div>
<h1>HEADER TYPE</h1>
<table>
<tr v-for="value in fields">
<td><label>{{value}}</label></td>
<td><input type="text" :id="value" :name="value"></td>
</tr>
</table>
<table>
<tr v-for="value in fields_int">
<td><label>{{value}}</label></td>
<td><input type="number" :id="value" :name="value"></td>
</tr>
</table>
<table>
<tr v-for="value in checkboxes">
<td><label>{{value.text}}</label></td>
<td><input type="checkbox" :id="value.text" name="check" v-model="value.checked"></td>

</tr>
<tr><td><button type="button" @click="add">SUBMIT</button></td></tr>
</table>
<p>{{checkboxes.checked}}</p>

</div>
  
</template>

<script>
export default {
  
  props:['checkedsection','checkedview'],
   data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      fields:["name","section","title","titleSpanish","spanish_submited_value","submited_value","ans","des"],
      fields_int:["view_type","parent_id","position"],
      checkboxes:[{text:"isRequired",checked:false},
      {text:"is_submit_field",checked:false},
      {text:"is_active",checked:false}],
      flag:0,
      data:{},
      errors:[],
      sec:0
      
    }
  },
  methods: {
    add(){
      for(var i=0;i<this.fields.length;i++)
      {
        var x=document.getElementById(this.fields[i]);
        this.data[this.fields[i]]=x.value;
        console.log(x.value);      
      }
      for(var i=0;i<this.fields_int.length;i++)
      {
        var x=document.getElementById(this.fields_int[i]);
        this.data[this.fields_int[i]]=parseInt(x.value);
        console.log(x.value);      
      }
      for(var i=0;i<this.checkboxes.length;i++)
      {
        var x=document.getElementById(this.checkboxes[i].text);
        this.data[this.checkboxes[i].text]= +(x.checked);
        console.log(x.checked);      
      }
       console.log(this.data);
       this.senddata();
    },
    senddata(){
      axios.post(`http://192.168.7.44:1351/add`, this.data)
    .then(response => { console.log(response.data);})
    .catch(e => {
      this.errors.push(e)
    })
    }
  },
  mounted()
  {
    console.log("created");
    document.getElementById("section").value= this.checkedsection;
    //console.log(this.checkedsection);
    switch(this.checkedview)
      {
        case "Header":this.sec=1;
        break;
        case "Input":this.sec=7;
        break;
        case "Checkbox":this.sec=4;
        break;
      }
    document.getElementById("view_type").value= this.sec;


  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

</style>
