<template>
  <div class="hello">
  <div id="start">
  <h1>Sections</h1>
  <span v-for="sec in sections"><input type="radio" name="section" v-model="checked_section" :value= sec>
  <label for="section">Section {{sec}}</label>
  </span>
  <!--<p>{{checked_section}}</p>-->
  <h1>View type</h1>
  <span v-for="view in views"><input type="radio" name="view_type" v-model="checked_view" :value= view>
  <label for="view">{{view}}</label>
  </span>
  <p>{{checked_view}}</p>
  </div>
  <div v-if="checked_view=='Header'">
  <transition name="fade" mode="out-in"><something :checkedsection="checked_section" :checkedview="checked_view"/>
</transition>

  </div>
  <div v-if="checked_view=='Input'">
  <transition name="fade" mode="out-in"><inputtype :checkedsection="checked_section" :checkedview="checked_view"/>
</transition>

  </div>
  <div v-if="checked_view=='Checkbox'">
  <transition name="fade" mode="out-in"><checktype :checkedsection="checked_section" :checkedview="checked_view"/>
</transition>

  </div>
  
    
  </div>
  
</template>

<script>
import something from './component'
import inputtype from './input_form'
import checktype from './checkbox_type'

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      sections:["A","B","C","D","E","F","G","H"],
      checked_section:'',
      views:["Header","Input","Checkbox"],
      checked_view:''
    }
  },
  components:{
    something,
    inputtype,
    checktype
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  
  margin: 0 10px;
}
a {
  color: #42b983;
}
.fade-enter-active,.fade-leave-active
    {
      transition: opacity .5s;
}
.fade-enter,
.fade-leave-to
   { opacity: 0;
   }
</style>
