<template>
<div>
<h1>INPUT TYPE</h1>
<table>
<tr v-for="value in fields">
<td><label>{{value}}</label></td>
<td><input type="text" :id="value" :name="value"></td>
</tr>
</table>
<table>
<tr v-for="value in fields_int">
<td><label>{{value}}</label></td>
<td><input type="number" :id="value" :name="value"></td>
</tr>
<tr v-for="value in checkboxes">
<td><label>{{value.text}}</label></td>
<td><input type="checkbox" :id="value.text" name="check" v-model="value.checked"></td>

</tr>
</table>
<h2>Validation type</h2>
<table>
<tr v-for="value in validation_fields">
<td><label>{{value}}</label></td>
<td><input type="text" :id="value" :name="value"></td>
</tr>
<tr><td>Type</td><td><select id="type"></select></td></tr>
<tr><td>Regex</td><td><select id="regex"></select></td></tr>

<tr><td><button type="button" @click="add">SUBMIT</button></td></tr>
</table>


</div>
  
</template>

<script>
export default {
  props:['checkedsection','checkedview'],
   data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      fields:["name","section","title","titleSpanish","spanish_submited_value","submited_value","ans","des"],
      fields_int:["view_type","parent_id","position"],
      validation_fields:["messgae","messageSpanish"],
       checkboxes:[{text:"isRequired",checked:false},
      {text:"is_submit_field",checked:false},
      {text:"is_active",checked:false}],
      flag:0,
      data:{},
      formula:[],
      types:[],
      inputdatasend:{}
      
    }
  },
  
  methods: {
    add(){
      for(var i=0;i<this.fields.length;i++)
      {
        var x=document.getElementById(this.fields[i]);
        this.data[this.fields[i]]=x.value;
        console.log(x.value);
      }
      for(var i=0;i<this.fields_int.length;i++)
      {
        var x=document.getElementById(this.fields_int[i]);
        this.data[this.fields_int[i]]=parseInt(x.value);
        console.log(x.value);
      }
      for(var i=0;i<this.checkboxes.length;i++)
      {
        var x=document.getElementById(this.checkboxes[i].text);
        this.data[this.checkboxes[i].text]= +(x.checked);
        console.log(x.checked);      
      }

      console.log(this.data);
      var validationdata={};
      //this.senddata();
      for(var i=0;i<this.validation_fields.length;i++)
      {
        var x=document.getElementById(this.validation_fields[i]);
        validationdata[this.validation_fields[i]]=x.value;
        console.log(x.value);
      }
      validationdata["format"]=document.getElementById("type").value;
      validationdata["regx"]=document.getElementById("regex").value;
      console.log(validationdata);
      this.inputdatasend["question"]=this.data;
      this.inputdatasend["validation"]=validationdata;
      console.log(this.inputdatasend);
      this.senddata();

    },
    assignment(somedata)
    {
      for(var x=0;x<somedata.value.formula.length;x++)
          {
            this.formula.push(somedata.value.formula[x]);
          }
          for(var y=0;y<somedata.value.types.length;y++)
          {
            this.types.push(somedata.value.types[y]);
          }
    },
    senddata(){
      axios.post(`http://192.168.7.44:1351/add`, this.inputdatasend)
    .then(response => { console.log(response.data);})
    .catch(e => {
      this.errors.push(e)
    })
    },
    startfunction()
  {
    fetch('http://192.168.7.44:1351/get')
      .then((response) => {
      if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
          response.status);
        return;
      }
      response.json().then((datum) => {
        console.log(datum);
        //console.log(datum.value.formula);
          //formula=(data.value.formula);
          //console.log(datum.value.types);
          //types=(data.value.types);
          this.assignment(datum);
          //console.log(this.formula);
          //console.log(this.types);
          //console.log(formula[2]);
      
      //var value1=document.getElementById("inputformat").value;
      //console.log(value1);
      var inputform=document.getElementById("type");
      //var div=document.getElementById("regextd");
      var select=document.getElementById("regex");
      
      for(var i=0;i<this.formula.length;i++)
      {
        var formu=this.formula[i];
        var el=document.createElement("option");
        el.textContent=formu;
        el.value=formu;
        select.appendChild(el);
      }
      for(var i=0;i<this.types.length;i++)
      {
        var type=this.types[i];
        var el=document.createElement("option");
        el.innerHTML=type;
        el.value=type;
        inputform.appendChild(el);
      }
          
                
          });
      
    }

  )
  .catch(function(err) {
    console.log('Fetch Error :-S', err);
  });

  }
},

  
  

  mounted(){
      //console.log("created");
      this.startfunction();
      //console.log("created");
    document.getElementById("section").value= this.checkedsection;
    //console.log(this.checkedsection);
    switch(this.checkedview)
      {
        case "Header":this.sec=1;
        break;
        case "Input":this.sec=7;
        break;
        case "Checkbox":this.sec=4;
        break;
      }
    document.getElementById("view_type").value= this.sec;


        
    //div.appendChild(select);
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

</style>
