<template>
<div>
<h3>CHECKBOX OPTIONS</h3>
<table :id="hashmapflag">
<tr v-for="value in fieldsoption">
<td><label>{{value}}</label></td>
<td><input v-bind:id= "`${value}`+ ide" type="text" :name="value"></td>
</tr>
<tr v-if="hashmapflag==true">
<td>English hashmap</td><td><input type="text" :id="'enghash'+ ide"></td>
</tr>
<tr v-if="hashmapflag==true">
<td>Spanish hashmap</td><td><input type="text" :id="'spahash' +ide"></td>
</tr>
</table>
<table>
<tr v-for="value in fields_int_option">
<td><label>{{value}}</label></td>
<td><input v-bind:id= "`${value}`+ide" type="number" :name="value"></td>
</tr>
</table>
<table>
<tr v-for="value in checkboxes_option">
<td><label>{{value.text}}</label></td>
<td><input v-bind:id= "`${value.text}`+ide" type="checkbox" name="check" v-model="value.checked"></td>

</tr>
</table>
<p>{{checkboxes_option.checked}}</p>

</div>
  
</template>

<script>
export default {
   props:['ide','hashmapflag','checkedsection','checkedview'],
   data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      fieldsoption:["name","section","title","titleSpanish","spanish_submited_value","submited_value","ans","des"],
      fields_int_option:["view_type","position"],
      checkboxes_option:[{text:"isRequired",checked:false},
      {text:"is_submit_field",checked:false},
      {text:"is_active",checked:false}],
      flag:0,
      data:{},

      
      
    }
  },
  methods: {
    
  },

mounted()
{
    document.getElementById("section"+ this.ide).value= this.checkedsection;
    //console.log(this.checkedsection);
    switch(this.checkedview)
      {
        case "Header":this.sec=1;
        break;
        case "Input":this.sec=7;
        break;
        case "Checkbox":this.sec=4;
        break;
      }
    document.getElementById("view_type"+this.ide).value= this.sec;

}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

</style>
