<template>
  <div id="app">
       <HelloWorld/>
    
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'

export default {
  name: 'App',
  components: {
    HelloWorld
    
    
  },
  data(){
    return{
      a:true
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1
{
  background-color: gray;
}
td
{
  width:200px;
  text-align: left;
}
table
{
  margin-left: 20%;
}

</style>
